[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-allauth = "==0.44.0"
geocoder = "*"
geopy = "*"
osmnx = "*"
networkx = "*"
scikit-learn = "*"
matplotlib = "*"
opencv-python = "*"
ultralytics = "*"
unitest = "==1.4.25"

[dev-packages]

[requires]
python_version = "3.8"
