<!DOCTYPE html>
<html>

<head>
  <title>Geolocation</title>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css" />
  <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css" />
  <link rel="stylesheet" href="https://unpkg.com/leaflet-contextmenu@latest/dist/leaflet.contextmenu.min.css" />
  <link rel="stylesheet" href="static/css/menu.css">

  <style>
    #map {
      height: 800px;
    }
  </style>

</head>

<body>


  <div id="directions-box">
    <div id="directions-title">Driving Directions</div>

    <div class="container">
      <!-- Input fields for starting point and destination -->
      <div class="input-box">
        <img class="icon-left" src="/static/img/start location.png" />
        <div class="bg-bar"></div>
        <img class="icon-right" src="/static/img/search.png" />
        <input type="text" id="from" class="text-box" list="location-suggestions" placeholder="Choose starting point" />
        <datalist id="location-suggestions"></datalist>
      </div>

      <div class="destination-box">
        <img class="icon-left" src="/static/img/destination.png" />
        <div class="bg-bar"></div>
        <img class="icon-right" src="/static/img/search.png" />
        <input type="text" id="to" list="location-suggestions" class="text-box" placeholder="Choose destination" />
      </div>

      <!-- Rotate Icon -->
      <img class="rotate-icon" src="/static/img/dot.png" />

      <!-- Additional Icon -->
      <img class="additional-icon" src="/static/img/switch.png" onclick="reverseInputs()" />

      <!-- Find Route Box -->
      <div class="find-route-box">
        <div class="background-bar"></div>
        <!-- Button to trigger findRoute function -->
        <button class="find-route-text" onclick="getRoute()">
          Start Monitoring
        </button>
      </div>
    </div>
  </div>

  <label>
    <input type="checkbox" />
    <div class="toggle">
      <span class="top_line common"></span>
      <span class="middle_line common"></span>
      <span class="bottom_line common"></span>
    </div>
    <div class="slide">
      <div class="header">
        <div class="title">Select Service</div>
        <img class="icon1" src="static/img/service.png" />
      </div>

      <ul>
        <li>
          <div class="service-block">
            <div class="service-title">Traffic Monitoring</div>
            <img class="icon" src="/static/img/traffic.png" />
            <!-- toggle button -->
            <label class="toggle_box">
              <input type="checkbox" id="checkbox" />
              <div class="circle"></div>
            </label>
          </div>
        </li>

        <li>
          <div class="service-block">
            <div class="service-title">Accident Detection</div>
            <img class="icon" src="/static/img/accident.png" />
            <label class="toggle_box">
              <input type="checkbox" id="checkbox" />
              <div class="circle"></div>
            </label>
          </div>
        </li>

        <li>
          <div class="service-block">
            <div class="service-title">Pothole Identification</div>
            <img class="icon" src="/static/img/pothole.png" />
            <label class="toggle_box">
              <input type="checkbox" id="checkbox" />
              <div class="circle"></div>
            </label>
          </div>
        </li>
      </ul>
    </div>
  </label>

  <a href="{% url 'account_login' %}">
    <button id="logout-btn" class="logout-button">Cancel</button>
  </a>

  <a href="/" class="logo"><img src="/static/img/home/logo.png" alt="">SafetyNXT</a>

  <div id="map"></div>

  <div id="steps"></div>

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"></script>
  <script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>
  <script src="https://unpkg.com/leaflet-control-geocoder@latest/dist/Control.Geocoder.js"></script>
  <script src="https://unpkg.com/leaflet-contextmenu@latest/dist/leaflet.contextmenu.min.js"></script>

  <script src="static/js/map.js"></script>
  <script>
    // toggle--------------------------------------------------------------------------------------------------------------

    // Toggle Background box selection
    let background_boxes = document.querySelectorAll(".background_box");

    // Checkboxes selection
    let toggleBoxes = document.querySelectorAll(".toggle_box");
    let trafficToggleBox = document.getElementById("trafficCheckbox");
    let potholeToggleBox = document.getElementById("potholeCheckbox");

    let circles = document.querySelectorAll(".circle");

    // Add click event listeners to each toggle box
    toggleBoxes.forEach(function (toggleBox, index) {
      toggleBox.onclick = function () {
        // Toggle the checkbox
        let checkbox = toggleBox.querySelector("input[type='checkbox']");
        checkbox.checked = !checkbox.checked;

        // Move the circle based on the checkbox state
        let circle = circles[index];
        if (checkbox.checked) {
          circle.style.transform = "translateX(34px)";
          circle.style.backgroundColor = "#fff"; // Set "on" color
        } else {
          circle.style.transform = "translateX(0px)";
          circle.style.backgroundColor = "#000"; // Set "off" color
        }
      };
    });
  </script>

</body>

</html>