<!DOCTYPE html>
<html>

<head>
    <title>Geolocation</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet-contextmenu@latest/dist/leaflet.contextmenu.min.css" />
    <link rel="stylesheet" href="/static/css/styles.css">

    <style>
        #map {
            height: 400px;
        }
    </style>

</head>

<body>

    <div class="directions-label">Directions</div>

    <div>
        <label for="from">From Location</label>
        <input type="text" id="from" list="location-suggestions">
        <datalist id="location-suggestions"></datalist>
    </div>

    <div>
        <label for="to">Destination Location</label>
        <input type="text" id="to" list="location-suggestions">
    </div>

    <button onclick="getRoute()">Start Monitoring</button>
    <div id="map"></div>

    <div id="steps"></div>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>
    <script src="https://unpkg.com/leaflet-control-geocoder@latest/dist/Control.Geocoder.js"></script>
    <script src="https://unpkg.com/leaflet-contextmenu@latest/dist/leaflet.contextmenu.min.js"></script>
    <script src="/static/js/main.js"></script>

    <script>
        var map = L.map("map").setView([18.5285, 73.8744], 13);

        mapLink = "<a href='http://openstreetmap.org'>OpenStreetMap</a>";
        L.tileLayer('https://{s}.tile.osm.org/{z}/{x}/{y}.png', {
            attribution: 'Leaflet &copy; ' + mapLink + ', contribution',
            maxZoom: 18
        }).addTo(map);

        var fromMarker, toMarker, routeControl;
        var fromLat, fromLon; // Move the variable declaration here

        function getRoute() {
            var fromLocation = document.getElementById("from").value;
            var toLocation = document.getElementById("to").value;

            if (!fromLocation || !toLocation) {
                alert("Please Provide location");
                return;
            }

            if (fromMarker) {
                map.removeLayer(fromMarker);
            }

            if (toMarker) {
                map.removeLayer(toMarker);
            }

            if (routeControl) {
                map.removeControl(routeControl);
            }

            axios.get("https://nominatim.openstreetmap.org/search", {
                params: {
                    format: 'json',
                    q: fromLocation
                }
            }).then(function (response) {
                fromLat = response.data[0].lat;
                fromLon = response.data[0].lon;
                fromMarker = L.marker([fromLat, fromLon]).addTo(map);
                map.setView([fromLat, fromLon], 13);

                return axios.get("https://nominatim.openstreetmap.org/search", {
                    params: {
                        format: 'json',
                        q: toLocation
                    }
                });
            }).then(function (response) {
                var toLat = response.data[0].lat;
                var toLon = response.data[0].lon;
                toMarker = L.marker([toLat, toLon]).addTo(map);

                routeControl = L.Routing.control({
                    waypoints: [
                        L.latLng(fromLat, fromLon),
                        L.latLng(toLat, toLon),
                    ],
                    router: L.Routing.osrmv1({
                        serviceUrl: "https://router.project-osrm.org/route/v1"
                    })
                }).addTo(map);

                var routeCoordinates = {
                    fromLat: fromLat,
                    fromLon: fromLon,
                    toLat: toLat,
                    toLon: toLon
                };

                axios.post("coordinates/", routeCoordinates).then(function (response) {
                    console.log(response.data);
                }).catch(function (error) {
                    console.log("Check error", error);
                    alert(error);
                });
            });
        }

 // Code for the AutoComplete Location Feature
        // Example locations for Pune
        var puneLocations = ['Aundh, Pune', 'Koregaon Park, Pune', 'Magarpatta, Pune', 'Shivaji Nagar, Pune','Shaniwar Wada, Pune',
            'Aga Khan Palace, Pune',
            'Sinhagad Fort, Pune',
            'Osho Ashram, Pune',
            'Dagadusheth Halwai Ganpati Temple, Pune',
            'Raja Dinkar Kelkar Museum, Pune',
            'Lal Mahal, Pune',
            'Khadakwasla Dam, Pune',
            'Pataleshwar Cave Temple, Pune',
            'Parvati Hill, Pune',
            'Bund Garden, Pune',
            'Vetal Tekdi, Pune',
            'Pu La Deshpande Garden, Pune',
            'Mulshi Lake and Dam, Pune',
            'Phoenix Marketcity, Pune',
            'FC Road (Fergusson College Road), Pune',
            'Koregaon Park, Pune',
            'Saras Baug, Pune',
            'Darshan Museum, Pune',
            'Rajiv Gandhi Zoological Park, Pune'];

        // Populate datalist with suggestions
        puneLocations.forEach(function (location) {
            var option = document.createElement('option');
            option.value = location;
            document.getElementById('location-suggestions').appendChild(option.cloneNode(true));
        });

        // Initialize Awesomplete for input fields
        var startInput = new Awesomplete(document.getElementById('from'), { list: "#location-suggestions" });
        var destinationInput = new Awesomplete(document.getElementById('to'), { list: "#location-suggestions" });
    </script>
</body>

</html>
